.header-top {
	background-color: #242424;
}
.header-top-inner,
.header-bottom-inner {
	display: flex;
	align-items: center;
	padding: 5px 0;
	overflow: hidden;
	
}
.header-bottom-inner {
	padding: 0;
}
.header-logo {
	margin-right: auto;
}
.header-logo-link {
	text-decoration: none;
	text-transform: uppercase;
	color: #57c5a0;
}
.authoriz {
	color: #7e7e7e;
	text-decoration: none;
	padding: 10px;
	border-right: 2px solid #7e7e7e;
	border-left: 2px solid #7e7e7e;
	text-transform: uppercase;
}

.autoriz-span {
	text-transform: none;
}
.header-seach {
	background-color: #242424;
	border:none;
	margin-right: 50px;
}
.header-nav-list {
	display: flex;
	list-style: none;
}
.header-nav-item-link {
	text-decoration: none;
	color: #242424;
	font-size: 16px;
	padding: 15px 25px;
	border-left: 1px solid #eeeeee;
	border-right: 1px solid #eeeeee;
}
.header-nav-item {
	
}
.header-nav-item-link:hover,
.header-nav-item-link:active,
.header-nav-item-link:focus {
	background-color: #7e7e7e;
	cursor: pointer;
}
.header-nav-item:hover .header-nav-item-link {
	color: white;
} 
.header-nav {
	margin-right: auto;
}
.header-bottom-actions {
	display: flex;
	align-items: center;
}
.header-bottom-actions-item:last-child {
	border-right: 1px solid #eeeeee; 
}
.header-bottom-actions-item {
	display: flex;
	align-items: center;
	padding: 15px 25px;
  border-left: 1px solid #eeeeee;
	cursor: pointer;
	text-decoration: none;
}
.actions-item-img {
	max-width: 25px;
	max-height: 25px;
	min-height: 25px;
	min-width: 25px;
	width: 25px;
	height: 25px;
		
	padding-right: 10px;
}

.span-actions-item-number {
	display: flex;
	align-items: center;
	justify-content: center;
	min-height: 20px;
	min-width: 20px;
	color: white;
	background-color: #adadad;
	font-size: 12px;
  font-family: "Aller";
	border-radius: 5px;
}
.header-bottom-actions-item:hover .span-actions-item-number {
	background-color: #57c5a0;
} 
